@media screen and (min-width: 1023px) {
  .s3d-filter {
    &__table {
      &__label {
        &:hover:not(.active-flat) {
          input:not(:checked) + svg {
            fill: $color1;
            stroke: transparent;
          }
        }
        &.active-flat {
          &:hover {
            svg {
              fill: $wc;
              stroke: $wc;
            }
          }
        }
      }
    }
    &__hide {
        &:hover {
          color: $color1;
          &:after {
            border-bottom-color: $color1;
          }
        }
      }
    &__button {
      &--apply {
        &:hover {
          color: #ffffff;
          opacity: 0.9;
        }
      }
      &--reset {
        &:hover {
          color: $color1;
          .s3d-filter__button--reset-icon {
            svg {
              fill: $color1;
            }
          }
        }
      }
    }
    &__mini-info {
      &:hover {
        color: $color2;
      }
    }
    &__tr {
      &:hover {
        background: rgba(255, 52, 93, 0.7);
      }
    }
  }
}

@media screen and (max-width: 1680px) {
  .s3d {
    &-filter .irs--flat .irs-handle {
      height: 10px;
      width: 10px;
    }
    &-filter {
      &-wrap {
        width: 345px;
      }
      &__top {
        padding-bottom: 33px;
      }
      &-wrap[data-type="plannings"] &__top {
        max-height: calc(100vh - var(--s3d-margin-top) - 140px - 40px);
      }
      &__title {
        font-size: 18px;
        line-height: 26px;
      }
      &__floor {
        margin-top: 15px;
      }
      &__close span {
        width: 15px;
      }
      &__area label,
      &__living-space label,
      &__buttons label,
      &__floor label {
        margin-left: 20px;
      }
      &__house,
      &__rooms {
        margin-top: 20px;
        &--label {
          width: 30px;
          height: 25px;
          font-size: 10px;
          line-height: 14px;
        }
      }
      &__living-space input, 
      &__buttons input, 
      &__floor input, 
      &__area input {
        width: 40px;
        height: 25px;
        font-size: 10px;
        line-height: 14px;
      }
      &__button {
        &--reset-icon {
          width: 20px;
          height: 20px;
        }
      }
      &__option {
        margin-top: 20px;
        &__title {
          font-size: 10px;
          line-height: 14px;
        }
        &__list {
          margin-top: 10px;
        }
        &--label {
          margin-left: 15px;
        }
      }
      &__hide {
        bottom: -10px;
      }
      &__mini-info {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        
        
        &__elem {
          grid-column-start: 1;
          grid-column-end: 1;
          flex-direction: row;
          font-size: 10px;
          line-height: 14px;
        }
        &__button {
          grid-row: 2 / 2;
          grid-column-start: 2;
          grid-column-end: 2;
        }
      }
      &__scroll-active &__mini-info {
        height: 60px;
        padding: 5px 25px;
      }
      &__table {
        padding: 0 25px;
      }
      &__td svg {
        height: 9px;
        width: 10px;
      }
      &__amount-flat {
        font-size: 10px;
        line-height: 14px;
        padding: 0 0 0 25px;
      }
      &__hide {
        font-size: 10px;
        line-height: 14px;
      }
      &__body {
        padding: 0px 15px 0 0;
      }
      &__area {
        margin-top: 20px;
      }
      &__living-space label, &__buttons label, &__floor label, &__area label {
        font-size: 10px;
      }

    }
    &-filter-select {
      &__title {
        font-size: 10px;
        line-height: 14px;
      }
      &__list {
        margin: 10px 0 0;
      }
    }
  }
}

@media screen and (max-width: 1280px) {
  .s3d {
    &-filter {
      &__top {
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 30px;
        padding-top: 35px;
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .s3d {
    &-filter {
      flex: 1 1 100%;
      padding: 0 10px;
      &-wrap {
        height: calc(100% - var(--s3d-margin-top) - 90px);
        top: auto;
        /* button bottom margin + controller grid gap */
        bottom: calc(60px + 15px);
        .s3d__favourites {
          margin: 0 0 0 40px;
        }
        
      }
      &__button{
        &--reset {
          &-icon {
            margin: 0;
            margin-right: 10px;
          }
          span {
            // display: none;
          }
        }
        &--apply {
          display: flex;
          display: none;
          width: 80px;
          margin: auto 0 0 5px;
        }
      }
      &__rooms {
        &--label{
          height: 25px;
          width: 30px;
        }
      }
      //&-select__input--wrap {
        //margin: 0;
      //}

      &__title {
        font-size: 16px;
      }
      &__top {
        .s3d__favourites{
          margin: 0 0 0 40px;
        }
      }
      &__head {
        padding: 0 20px;
        padding: 0px 10px 0px 10px;
      }
      &__mini-info {
        padding: 0 10px;
      }
      &__option {
        &--input {
          height: 14px;
          width: 14px;
          flex-shrink: 0;
        }
        &--input:after {
          width: 14px;
          height: 14px;
        }
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .s3d {
    &-filter {
      &-wrap {
        &[data-type="plannings"] {
          width: 100%;
          width: 345px;
          height: auto;
          box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.6);
          .s3d-filter {
            width: 100%;
            &__table {
              display: none;
            }
            &__button{
              &--reset {
                margin: auto 0 0 auto;
                margin: 20px 0 0 auto;
                span {
                  display: block;
                }
              }
              &--apply {
                height: 30px;
                width: 150px;
              }
            }
            &__close {
              &-wrap {
                top: 20px;
                right: 20px;
                height: 30px;
                width: 30px;
                padding: 0;
                transform: none;
                background: none;
                z-index: 12;
              }
            }
            &__amount-flat {
              display: none;
            }
            &__hide {
              display: none;
            }
            &-select__input--wrap {
              font-size: 12px;
            }
          }
        }
      }
      &__top {
        // max-height: calc(100vh - var(--s3d-margin-top) - 250px);
        // padding-bottom: 20px;
      }
      &-select__list {
        margin-top: 20px;
      }
      &__option {
        &__list {
          column-gap: 0;
        }
        &__input {
          &--wrap {
            white-space: nowrap;
          }
        }
      }
      &__rooms {
        &--label {
          line-height: 25px;
        }
      }
    }
  }
}


@media screen and (max-width: 600px) {
  .s3d {
    &-filter {
      padding: 0 0px;
      margin-right: -15px;
      width: calc(100% + 15px);
      padding-right: 15px;
      &-wrap[data-type="plannings"] .s3d-filter__table {
        display: flex;
      }
      &-wrap[data-type="plannings"]:not(.s3d-filter__scroll-active) .s3d-filter__table{
        max-height: 200px;
      }
      &-wrap[data-type="plannings"] .s3d-filter__hide {
        display: block;
        bottom: -30px;
        // &::before {
        //   content: '';
        //   position: absolute;
        //   top: 50%;
        //   left: 50%;
        //   transform: translate(-50%,-50%);
        //   width: 200%;
        //   height: 1px;
        //   background-color: red;
        //   z-index: -1;
        // }
      }
      &-wrap {
        width: 100%;
        bottom: 0;
        height: calc(100% - var(--s3d-margin-top));
      }
      &__title {
        line-height: 1em;
        padding-left: 0;
      }
      &__top {
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 0px;
        max-height: calc(100vh - var(--s3d-margin-top) - 190px - 40px);
        .s3d__favourites {
          margin: 0 0 0 10px;
        }
      }
      &__table {
        padding-left: 10px;
        padding-right: 10px;
      }
      &__head {
        padding: 0 10px;
      }
      &__button{
        &--reset {
          height: auto;
          width: auto;
        }
        &--apply {
          width: 40px;
          height: 40px;
          margin: auto 0 0 5px;
          font-size: 10px;
          span {
            display: none;
          }
          &-icon {
            display: block;
          }
        }
      }
      &__option__list {
        column-gap: 0;
      }
      &-select__list {
        margin-top: 15px;
      }
      &__rooms--label {
        height: 25px;
        width: 40px;
        margin: 0 2px;
      }
      &__close {
        &-wrap {
          // top: calc(var(--s3d-header-height) + 20px + 12px);
          top: 15px;
          right: 15px;
          height: 30px;
          width: 30px;
          padding: 5px;
          transform: none;
          background: none;
          z-index: 12;
        }
      }
      &__amount-flat {
        padding: 0 0 0 10px;
        height: 40px;
      }
      &__scroll-active &__mini-info {
        padding-right: 10px;
        padding-left: 10px;
      }
      &__mini-info__button {
        text-align: right;
        padding: 0;
      }
      .irs-min, .irs-max {
        display: none;
      }
    }
  }
}
