@media screen and (max-width: 1680px) {
  .s3d {
    &-card.s3d-infoBox {
      padding: 35px 25px;
      width: 205px;
    }
    &-card {
      padding: 35px 25px 30px 25px;
      &__image {
        margin-bottom: 17px;
        height: 100px;
      }
      &__data {
        padding: 15px 0;
        font-size: 10px;
        line-height: 14px;
        .s3d-card__row {
          margin-bottom: 5px;
        }
      }
      &__title span {
        font-size: 12px;
        line-height: 18px;
      }
      &__type {
        width: 18px;
        height: 18px;
        font-size: 10px;
        line-height: 14px;
      }
      &__price {
        padding-top: 10px;
        font-size: 10px;
        line-height: 16px;
      }
      &__link {
        margin-top: 15px;
        height: 35px;
      }
      &__close {
        height: 24px;
        width: 24px;
      }
      &__top {
        padding: 0px 0 6px;
      }
      &__add-favourites {
        height: 20px;
    width: 20px;
      }
    }
  }
}

@media screen and (min-width: 1023px) {
  .s3d {
    &-card {
      
      &:hover {
        cursor: pointer;
        .s3d-card__link {
          background-size: 200% 100%;
        }
      }
      &__close {
        &:hover {
          &:after, &:before {
            background: $color1;
          }
          &:after {
            transform: translate(-50%,-50%)rotate(135deg);
          }
          &:before {
            transform: translate(-50%,-50%)rotate(-135deg);
          }
        }
      }

      &__add-favourites {
        &:hover{
          svg{
            fill: $color1;
            stroke: transparent;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .s3d {
    &-card {
      &__image {
        height: 110px;
      }
    }
  }
}
