@media screen and (min-width: 1023px) {
  .s3d {
    &-unActive {
      &:hover{
        background: #bbbbbb;
        svg{
          fill: #ffffff;
        }
      }
    }
    &-breadcrumbs {
      &__current {
        font-size: 10px;
        line-height: 14px;
      }
      &__link { 
        font-size: 10px;
        line-height: 14px;
      }
      &__link:hover {
        color:#505050;
      }
    }
  }
  .close {
    &:hover{
      &:after {
        background: #000000;
        transform: rotate(-45deg) scale(1.2);
      }
      &:before {
        background: #000000;
        transform: rotate(45deg) scale(1.2);
      }
    }
  }
  
}

@media screen and (max-width: 1680px) {
  .s3d-breadcrumbs {
    padding-top: 14px;
    &__current {
      font-size: 10px;
      line-height: 14px;
      &:before {
        margin: 0px 15px;
      }
    }
    &__link { 
      font-size: 10px;
      line-height: 14px;
    }
  }
  .s3d__slideModule{
    .s3d__button-second {
      max-width: 236px;
      &__text {
        font-size: 12px;
        padding: 10px 10px 10px 15px;
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .s3d {
    &-title {

    }
  }
  .s3d-breadcrumbs {
    padding-top: 0;
    &__link,
    &__current {
      font-size: 10px;
      line-height: 1.2em;

    }
  }
  .s3d__slideModule{
    padding: 0 0 50px;

  }
  .s3d__wrap{
    height: calc(100% - 48px);
  }

}
@media screen and (max-width: 600px) {
  .s3d__slideModule{
    padding: 0 0 40px;

  }
  .s3d__wrap{
    height: calc(100% - 38px);
  }
}
