.form-instalment-layout {
    width: 100%;
    background: white;
    margin-top: 50px;
    padding: 50px;
    --padding: 40px;
    padding: var(--padding) var(--padding) var(--padding) calc(var(--padding));
}
.form-instalment {
    color: #1A191D;
    --group-margin: 50px;
    display: flex;
    flex-wrap: wrap;
    --buttons-margin: 35px;
    @media screen and (max-width: 1680px){
        --group-margin: 25px;
    }   
    @media screen and (max-width: 1320px){
        --group-margin: 70px;
    }   
    @media screen and (max-width: 1120px){
        --group-margin: 25px;
    }   
    @media screen and (max-width: 1024px){
        --group-margin: 70px;
        justify-content: space-between;
    }   
    @media screen and (max-width: 575px){
        --group-margin: 0px;
        --padding: 20px;
        justify-content: space-between;
    }   
    &__range-group {
        width: 23%;
        display: flex;
        flex-direction: column;
        margin-right: var(--group-margin);
        @media screen and (max-width: 1320px) {
            width: calc(33% - var(--group-margin));
        }
        @media screen and (max-width: 1024px) {
            width: calc(50% - var(--group-margin));
            width: calc(50% - var(--group-margin) / 2);
            margin-left: 0;
            margin-right: 0;
            margin-bottom: 25px;
        }
        @media screen and (max-width: 575px) {
            width: 100%;
            margin-left: 0;
            margin-right: 0;
        }
        &-top {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 27px;
            @media screen and (max-width: 1024px) {
                margin-bottom: 20px;
            }
            @media screen and (max-width: 575px) {
                margin-bottom: 8px;
            }
        }
    }
    &__section {
        width: 23%;
        margin-right: var(--group-margin);
        @media screen and (max-width: 1320px) {
            width: calc(33%);
            margin-right: 0;
        }
        @media screen and (max-width: 1024px) {
            width: calc(50% - var(--group-margin) / 2);
            margin-left: 0;
            margin-right: 0;
        }
        @media screen and (max-width: 575px) {
            width: 100%;
            margin-left: 0;
            margin-right: 0;
        }
    }
    &__small-group {
        width: auto;
        margin-left: auto;
        @media screen and (max-width: 1024px) {
            margin-left: var(--group-margin);
            margin-right: auto;
        }

        .tab {
            margin-bottom: 25px;
        }
    }
    &__top-group {
        margin-left: auto;
        display: flex;
        :nth-child(n+2) {
            margin-left: 10px;
        }
        @media screen and (max-width:575px) {
            width: 100%;
            justify-content: space-between;
        }
    }
    &__title {
        font-weight: 600;
        font-size: 28px;
        line-height: 34px;
        @media screen and (max-width: 1280px){
            font-size: 24px;
            line-height: 30px;
        }           
        @media screen and (max-width: 991px){
            font-size: 22px;
            line-height: 28px;
        }
        @media screen and (max-width: 575px){
            font-size: 20px;
            line-height: 26px;
            margin-bottom: 15px;
        }   
    }

    .s3d-form__input-group {
        @media screen and (max-width: 1024px){
            // margin-bottom: 20px;
        }
    }
    &__delimiter {
        height: 1px;
        width: 100%;
        background-color: #AF989C;
        margin-top: 40px;
        margin-bottom: 35px;
        @media screen and (max-width: 575px){
            margin-top: 15px;
        margin-bottom: 23px;
        } 
    }
    &__subtitle {
        font-size: 14px;
        line-height: 26px;
    }
    .input-message {
        position: absolute;
        font-size: 10px;
        line-height: 140%;
        border: none;
        padding-bottom: 0;
        left: 0;
        top: 100%;
        width: 100%;
        padding-top: 5px;
        color: #F04923;
        &:empty {
            padding: 0;
        }
    }

    [data-status="field--error"] input {
        border-color: #F04923;
    }
    [data-status="field--success"] input {
        border-color: green;
    }
    [data-status="field--success"] .input-message {
        color: green;
    }
    .input-placeholder {
        display: none;
        position: absolute;
        bottom: 100%;
        left: 0;
        font-size: 10px;
        line-height: 14px;
        color: #AFAFAF;
        opacity: 0;
        transition: .3s ease-in-out;

    }
    &__submit {
        @extend .s3d-flat__callback;
        width: max-content;
        padding-left: 60px;
        padding-right: 60px;
        margin-top: var(--buttons-margin);
        // margin-left: auto;
        &:after {
            display: none;
        }
        @media screen and (max-width: 1024px) {
            width: 100%;
            margin: auto;
            max-width: 260px;
            padding-left: 30px;
            padding-right: 30px;
            margin-bottom: 25px;
            margin-top: 40px;
        }
        @media screen and (max-width:575px){
            padding-left: 0;
            padding-right: 0;
            margin-left: 0;
            margin-right: 0;
            text-align: left;
            max-width: none;
            margin-top: 30px;
        }
    }
    
    .fw-600 {
        font-weight: 600;
        font-size: 18px;
        line-height: 26px;
        &:after {
            content: attr(data-currency);
            margin-left: 0.5ch;
        }
    }
    &__pdf {
        @extend .s3d-flat__transparent-button;
        cursor: pointer;
        background-color: transparent;
        border: none;
        width: max-content;
        padding-right: 40px;
        padding-left: 40px;
        order: initial;
        margin-top: var(--buttons-margin);
        margin-left: auto;
        display: flex;
        align-items: center;
        @media screen and (max-width: 1024px) {
            width: 100%;
            margin: auto;
            order: 2;
        }
        @media screen and (min-width: 1024px) {
            &:hover svg {
                fill: $color1;
            }
        }
        @media screen and (max-width:575px){
            text-align: left;
            padding-left: 0;
            padding-right: 0;
            justify-content: space-between;
        }
        span {
            @media screen and (max-width:575px){
                max-width: 225px;
                margin-right: auto;
            }
        }
        &-icon {
            width: 11px;
            height: 14px;
            margin-left: 14px;
        }
        &-icon svg {
            width: 100%;
            height: 100%;
            transition: .3s ease-in-out;
            @media screen and (max-width:575px){
                width: 17px;
                height: 15px;
            }
        }
    }

    .h4 {
        font-weight: 600;
        font-size: 36px;
        line-height: 42px;
        color: #1A191D;
        @media screen and (max-width: 1280px){
            font-size: 26px;
            line-height: 32px;
        }           
        @media screen and (max-width: 991px){
            font-size: 26px;
            line-height: 32px;
        }
        @media screen and (max-width: 575px){
            font-size: 24px;
            line-height: 30px;
        }    
    }
    .h6 {
        font-weight: 600;
        font-size: 22px;
        line-height: 32px;
        color: #25282B;
        white-space: nowrap;
        @media screen and (max-width: 1280px){
            font-size: 18px;
            line-height: 26px;
        }           
        @media screen and (max-width: 991px){
            font-size: 16px;
            line-height: 24px;
        }
        @media screen and (max-width: 575px){
            font-size: 15px;
            line-height: 23px;
        }     
    }
    .tab  {
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        color: #25282B;
        @media screen and (max-width: 1280px){
            font-size: 12px;
            line-height: 18px;
        }           
        @media screen and (max-width: 991px){
            font-size: 12px;
            line-height: 18px;
        }
        @media screen and (max-width: 575px){
            font-size: 12px;
            line-height: 18px;
            margin-bottom: 10px;
        }     
    }
    .irs {
        padding-bottom: 50px;
    }
    .irs-handle {
        cursor: pointer;
    }
    
    .irs-max,
    .irs-min {
        font-size: 14px;
        line-height: 18px;
        font-weight: 500;
        /* identical to box height, or 129% */
        /* bg */
        background-color: transparent;
        color: #1A191D;
    }
    .irs-max {
        color: #959595;
    }
    .fdc {
        display: flex;
        flex-direction: column;
    }
    .input-message {
        @extend .input-message;
    }
    [data-btn-submit-text] {
        display: none;
    }

    [data-currency]:after {
        // content: attr(data-currency);
        // margin-left: 0.5ch;
    }
}