.s3d {
  &__flat{
    width: 100%;
    height: 100vh;
    &::-webkit-scrollbar {
      width: 2px;
    }
    /* Track */
    &::-webkit-scrollbar-track {
      -webkit-box-shadow: none;
    }
    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: rgba(133, 196, 65, 1);
      -webkit-box-shadow: none;
    }
    &::-webkit-scrollbar-thumb:window-inactive {
      background: rgba(133, 196, 65, 1);
    }
  }
  &-flat {
    height: 100%;
    width: 100%;
    max-height: 100vh;
    
    height: 100vh;
    height: calc(100vh - var(--s3d-margin-top));
    display: grid;
    padding: 40px 50px;
    margin-top: 30px;
    grid-template-columns: 1.4fr 0.2fr 2.2fr 0.2fr 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
    'info verticalLine links  . plane'
    'info verticalLine middle    . plane';

    background: $wc;
    &__wrap {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      justify-content: space-between;
      // height: 100%;
      width: 100%;
      // max-height: 100vh;
      background: #EFE9EA;
      padding: var(--s3d-margin-top) 40px 60px;
      min-height: 100vh;
      // height: auto;
      overflow-y: auto;
    height: 100%;
    }
    &__wrap::-webkit-scrollbar-track {
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }
    &__wrap::-webkit-scrollbar-thumb {
      background-color: darkgrey;
      outline: 1px solid slategrey;
    }
    &__wrap::-webkit-scrollbar {
      width: 5px;
    }
    &__title {
      font-family: $default-font;
      font-weight: 600;
      font-size: 22px;
      line-height: 32px;
      color: $colorTextM;
    }
    &__left {
      grid-area: info;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-content: flex-start;
      align-items: flex-start;
      height: calc(100% - 250px - 36px);
      width: 100%;
      padding: 0 50px 0 0;
      &-buttons {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
      }
    }
    &__right {
      display: flex;
      height: 100%;
      width: 100%;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      padding: 0;
      grid-area: plane;
      &-top {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: $default-font;
        font-weight: 800;
        font-size: 40px;
        line-height: 36px;
        text-transform: uppercase;
        color: #1A191D;
        padding: 0 0 25px;
        
      }
    }
    &__line {
      position: relative;
      &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        display: inline-block;
        width: 100%;
        border-bottom: 1px solid #DED2D4;
        // display: none;
      }
      &-vertical {
        grid-area: verticalLine;
        position: relative;
        &:after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          display: inline-block;
          height: 100%;
          border-left: 1px solid #DED2D4;
        }
      }
    }
    &__type {
      color: #EF1D8E;
    }
    &__image {
      display: inline-block;
      height: 80%;
      max-width: 80%;
      height: 70%;
      margin: 30px auto 50px;
      grid-area: img;
      img{
        display: inline-block;
        height: 100%;
        width: 100%;
        object-fit: contain;
        object-position: center;
        cursor: pointer;
      }
    }
    &__middle {
      grid-area: middle;
    }
    &__card {
      display: flex;
      width: 100%;
      max-height: 100%;
      flex-direction: column;
      padding: 0;
      margin-bottom: auto;
      &-top {
        padding: 25px 0;
        font-family: $default-font;
        font-weight: 600;
        font-size: 18px;
        line-height: 26px;
        color: #505050;
        .s3d-flat__card-row {
          margin-bottom: 10px;
          &:last-child {
            margin: 0;
          }
        }
      }
      &-bottom {
        padding: 25px 0;
        font-family: $default-font;
        font-weight: 700;
        font-size: 18px;
        line-height: 26px;
        color: #505050;
        .s3d-flat__card-row {
          margin-bottom: 10px;
          &:last-child {
            margin: 0;
          }
          sup {
            transform: translateY(0%);
            margin-top: -0.7em;
            display: inline-block;
          }
        }
      }
      &-row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: baseline;
      }
      &-area {
        font-weight: 600;
      }
    }
    &__table {
      width: 100%;
      sup {
        position: absolute;
        transform: translateY(-0.5em);
      }
    }
    &__list {
      max-height: 100%;
      max-height: calc((30px * 2) + (2em * 4));
      flex: 1 1 100%;
      overflow-y: auto;
      padding: 30px 30px 30px 0;
      border-bottom: 1px solid #ded2d4;
      &::-webkit-scrollbar {
        width: 2px;
      }
      /* Track */
      &::-webkit-scrollbar-track {
        -webkit-box-shadow: none;
      }
      /* Handle */
      &::-webkit-scrollbar-thumb {
        background: #CFBE97;
        -webkit-box-shadow: none;
      }
      &::-webkit-scrollbar-thumb:window-inactive {
        background: #CFBE97;
      }
      &:after {
        display: none;
      }
    }
    &__el {
      
      @include s3d-text-table();
      &__value {
        text-align: right;
      }
    }
    &__compass {
      position: absolute;
      top: 0;
      right: 0;
      display: flex;
      width: 90px;
      height: 90px;
      fill: transparent;
      margin: 0 0 45px 0;
      // default change from js
      svg {
        transform-origin: center;
      }
    }
    &__links {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      grid-area: links;
    }
    &__buttons {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      grid-area: button;
    }
    &__pdf {
      position: relative;
      display: flex;
      align-items: center;
      align-content: center;
      height: 50px;
      width: 100%;
      margin-bottom: 10px;
      order: 2;
      font-family: $default-font;
      font-weight: 600;
      font-size: 12px;
      line-height: 18px;
      letter-spacing: 0.15em;
      text-transform: uppercase;
      color: #1A191D;
      transition: color 0.3s ease-in;
      text-decoration: none;
      justify-content: center;
      &:after {
        content: '';
        position: absolute;
        bottom: -5px;
        left: 0;
        display: inline-block;
        width: 100%;
        border-bottom: 1px solid #DED2D4;
      }
      &-icon {
        height: 12px;
        width: 11px;
        background: $wc;
        margin: 0 0 0 20px;
      }
      svg {
        height: 100%;
        width: 100%;
      }
    }
    &__transparent-button {
      display: flex;
      align-items: center;
      align-content: center;
      height: 50px;
      width: 100%;
      margin-bottom: 10px;
      order: 2;
      font-family: $default-font;
      font-weight: 600;
      font-size: 12px;
      line-height: 18px;
      letter-spacing: 0.15em;
      text-transform: uppercase;
      color: #1A191D;
      transition: color 0.3s ease-in;
      text-decoration: none;
      justify-content: center;
    }
    &__callback {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50px;
      width: 100%;
      padding: 0;
      margin-bottom: 10px;
      font-family: $default-font;
      font-weight: 500;
      font-size: 12px;
      line-height: 18px;
      letter-spacing: 0.15em;
      text-transform: uppercase;
      text-decoration: none;
      text-align: center;
      border: none;
      background: linear-gradient(264.58deg, #9D69F7 3.41%, #B560E2 19.3%, #C753CE 35.2%, #D25BA8 46.86%, #E17699 60.64%, #F0B19B 88.72%, #F9DB71 101.97%);
      background-size: 100% 100%;
      cursor: pointer;
      transition: background-size 0.6s ease-in-out, color .3s ease-in-out;
      color: #FFFFFF;
      &-1 {
        background: linear-gradient(
          264.58deg, #9d69f778 3.41%, #b560e278 19.3%, #c753ce66 35.2%, #d25ba88a 46.86%, #e176998a 60.64%, #f0b19b78 88.72%, #f9db717a 101.97%);;
      }
      &:after {
        content: '';
        position: absolute;
        bottom: -5px;
        left: 0;
        display: inline-block;
        width: 100%;
        border-bottom: 1px solid #DED2D4;
      }
      //&:last-child {
      //  margin: 0;
      //  &:after {
      //    display: none;
      //  }
      //}
    }
    &__floor {
      position: relative;
      display: flex;
      height: 100%;
      width: 100%;
      flex: 1 1 100%;
      svg{
        height: 90%;
        width: 100%;
      }
      polygon{
        fill: transparent;
        stroke: none;
        opacity: 0.7;
        transition: all .3s ease-in-out;
      }
      polygon.u-svg-plan--active{
        fill: $color1;
        fill: url(#gradient-fill);
      }
    }
    &__hover-gradient {
      display: none;
    }
    &__like{
      position: relative;
      display: flex;
      align-items: center;
      align-content: center;
      font-family: $default-font;
      font-weight: 400;
      color: $colorTextM;
      line-height: 2em;
      font-size: 15px;
      cursor: pointer;
      transition: color .3s ease-out;
      &__text {
        margin: 0 15px 0 0;
      }
      input{
        display: none;
      }
      input:checked + svg{
        fill: $color1;
        stroke: transparent;
      }

      svg {
        height: 15px;
        width: 15px;
        fill: transparent;
        stroke: $color2;
        stroke-width: 1px;
        pointer-events: none;
        transition: stroke .3s ease-out, fill .3s ease-out;
      }
    }
    &__show-3d {
      display: flex;
      align-items: center;
      align-content: center;
      padding: 0;
      font-family: $default-font;
      font-weight: 400;
      color: $colorTextM;
      line-height: 2em;
      font-size: 15px;
      background: transparent;
      border: none;
      transition: color .3s ease-out;
      cursor: pointer;
      svg {
        margin-right: 20px;
      }
    }
    &__buttons-type{
      grid-area: type;
      display: flex;
      justify-content: flex-start;
      align-content: center;
      margin: 0;
      padding: 0;
      & :nth-child(n+2) {
        margin-left: 5px;
      }
    }
    &__bottom-buttons-wrap {
      display: flex;
      width: 100%;
      justify-content: flex-start;
      align-items: center;
    }
    &__buttons-view {
      justify-content: center;
      align-content: center;
      height: 25px;
      margin: auto auto 10px;
      display: none;
      grid-area: view;
      span {
        font-size: 14px;
        font-family: $default-font;
        font-weight: 500;
        line-height: 20px;
        color: #E1DDD2;
      }
      input {

        display: none;
        &:checked + span {
          color: $color2;
        }
      }

      label {
        cursor: pointer;
        pointer-events: painted;

      }

      &.show{
        display: flex;
        display: none;
      }
    }
    &__window-view-call-popup {
      font-size: 14px;
      line-height: 1.86em;
      color: $colorTextM;
      margin-left: auto;
      display: flex;
      align-items: center;
      border: none;
      background-color: transparent;
      cursor: pointer;
      transition: color .3s ease-in-out;
      /*Временно скрываем кнопку до внедрения функционала*/
      display: none;
      &-icon {
        width: 28px;
        height: 28px;
        margin-left: 15px;
      }
    }
    &__button{
      display: flex;
      height: auto;
      flex: 0 0 0%;
      margin: 0px 0 0;
      cursor: pointer;
      span{
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        height: 100%;
        width: 100%;
        padding: 7px 15px;
        background: transparent;
        font-family: $default-font;
        font-weight: 300;
        font-size: 14px;
        line-height: 26px;
        color: #1A191D;
        text-transform: none;
        white-space: nowrap;
        transition: background-color 0.6s ease-in-out, color 0.6s ease-in-out;
      }
      &-input{
        display: none;
        &:checked~span{
          color: $wc;
          text-decoration: none;
          background: $color1;
          // box-shadow: 0 4px 20px rgba(28, 73, 84, 0.35);
          cursor: no-drop;
        }

      }
      &.show{
        display: flex;
        pointer-events: painted;
        visibility: visible;
        opacity: 1;
        &:nth-last-child(1) span{
          border-top-right-radius: 40px;
          border-bottom-right-radius: 40px;
        }
        &:nth-child(1) span{
          border-top-left-radius: 40px;
          border-bottom-left-radius: 40px;
        }
      }
    }
    &__select {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: 36px;
      height: 20px;
      margin: 0 15px;
      background: $color2;
      border-radius: 20px;
      padding: 2px;
      overflow: hidden;
      &-button {
        height: 16px;
        width: 16px;
        border-radius: 50%;
        background: $wc;
      }
      * {
        pointer-events: none;
      }
      input + span{
        margin: 0 auto 0 0;
      }

      input:checked + span{
        margin: 0 0 0 auto;
      }
    }
    &__data {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: 50px;
      border-top: 1px solid rgba(207, 190, 151, 0.2);
      border-bottom: 1px solid rgba(207, 190, 151, 0.2);
      @include s3d-text-m($color2, 1.3, 500);
      > div {
        display: flex;
        align-items: center;
        margin: 0 7px;
        span {
          margin-left: 5px;
        }
      }
    }
    &__favourites {
      grid-area: favourite;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      @include s3d-text-m();
      margin: auto 50px 0 auto;
      cursor: pointer;
      transition: color 0.3s ease-in;
      pointer-events: painted;
      visibility: hidden;
      &-icon{
        position: relative;
        width: initial;
        height: 16px;
        margin-left: 10px;
      }
      &-amount{
        @include s3d-text-m();
        pointer-events: none;
        &:before{
          content: "";
          display: inline-block;
          height: 10px;
          width: 1px;
          margin: 0 10px;
          background: $color2;
        }
      }
      svg{
        height: 16px;
        width: 18px;
        fill: $color2;
        transition: transform 0.4s ease-in-out;
      }
    }
    &__mobile__header__bg {
      display: none;
      position: sticky;
      top: 0;
      width: 100%;
      z-index: 5;
      pointer-events: none;
      background: linear-gradient(180deg, #182F2F 58.33%, rgba(24, 47, 47, 0) 100%);
    }
  }
}

img.mfp-img{
  background: #ffffff;
  max-height: calc(90% - 50px);
  max-width: calc(90% - 50px);
}
.mfp-image-holder .mfp-close, .mfp-iframe-holder .mfp-close{
  top: -50px;
  right: -50px;
  color: #ffffff;
}



