.s3d {
  &-ctr {
    display: grid;
    z-index: 120;
    position: absolute;
    top: 0;
    left: 0;
    //grid-gap: 20px 30px;
    padding: var(--s3d-header-margin) 40px 40px;
    width: 100%;
    height: 100%;
    background: transparent;
    grid-template-rows: var(--s3d-header-height) auto auto 1fr auto auto;
    grid-template-columns: 480px 65px 1fr auto;
    pointer-events: none;
    grid-template-areas: '. . . .'
                'filter . . favourite'
                '. . . .'
                '. . . .'
                'buttons . . .'
                'buttons . . compass';

    &__elem {
      position: relative;
      grid-area: buttons;
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      width: max-content;
      padding: 0;
      align-items: flex-start;
      pointer-events: painted;

      // default change from js
      visibility: hidden;
    }
    &__compass {
      grid-area: compass;
      display: flex;
      justify-content: center;
      align-items: center;
      justify-self: end;
      width: 130px;
      height: 130px;
      fill: transparent;
      border-radius: 50%;
      // default change from js
      visibility: hidden;
      background: $wc;
      svg {
        transform-origin: center;
      }
    }

    &__select {
      display: flex;
      justify-content: center;
      align-content: center;
      align-items: center;
      width: 100%;
      height: 80px;
      margin: 5px 0 0;
      padding: 15px 40px;
      border: none;
      background: #FCEBEF;
      @include s3d-text-m();
      text-transform: uppercase;
      letter-spacing: 0.15em;
      transition: all .4s linear;
      cursor: pointer;
      &:first-child {
        margin: 0;
      }
      &:focus{
        outline: 1px solid $color1;
      }
      &.active {
        font-weight: 700;
        font-weight: 600;
        width: 100%;
        cursor: no-drop;
        color: #FFFFFF;
        background: $color1;
      }

      &:disabled {
        color: $color2;
        background: rgba(224, 210, 213, 0.8);
        cursor: no-drop;
      }
    }

    &__open {
      grid-area: opens;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      align-content: flex-end;
      margin: 0 50px 0 auto;
      &-filter {
        grid-area: filter;
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: flex-start;
        height: 100px;
        width: auto;
        flex: 0 1 auto;
        margin: 0 auto 0 0;
        padding: 0;
        position: relative;
        border: none;
        background-color: #fff;
        cursor: pointer;
        text-decoration: none;
        overflow: hidden;
        z-index: 1;

        pointer-events: painted;
        // default change from js
        visibility: hidden;
        &__icon{
          display: flex;
          height: 100%;
          width: 100px;

          justify-content: center;
          align-items: center;
          flex: 0 0 auto;
          background-color: $color1;
        }
        &__text {
          padding: 0 50px;
          @include s3d-text-m();
          text-transform: uppercase;
          letter-spacing: 0.15em;
          white-space: nowrap;
          transition: color 0.4s ease-in-out;
        }
      }
    }

    &__return {
      grid-area: back;
      display: flex;
      align-items: center;
      visibility: hidden;
    }

    //&__toHome {
    //  cursor: pointer;
    //  pointer-events: painted;
    //  z-index: 5;
    //  svg {
    //    width: 13px;
    //    height: 14px;
    //    fill: $color2;
    //    transition: fill 0.4s ease-in-out;
    //  }
    //}

    //&__back {
    //  margin: 0 0 0 10px;
    //  display: flex;
    //  align-items: center;
    //  align-content: center;
    //  @include s3d-text-m();
    //  cursor: pointer;
    //  pointer-events: painted;
    //  z-index: 5;
    //  svg {
    //    margin: 0 10px 0 0;
    //  }
    //  path {
    //    transform: translateX(30%);
    //    transition: transform 0.4s ease-in-out;
    //  }
    //
    //}

    &__favourites {
      grid-area: favourite;
      display: flex;
      align-items: center;
      justify-self: end;
      justify-content: flex-end;
      margin: auto 0;
      @include s3d-text-m($color2);
      cursor: pointer;
      transition: color 0.3s ease-in;
      pointer-events: painted;
      visibility: hidden;
      &-bg{
        position: fixed;
        top: 0;
        right: 0;
        height: 200vh;
        max-height: 75vw;
        width: 200vh;
        max-width: 75vw;
        background: radial-gradient(50% 50% at 50% 50%, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
        transform: translate(50%, -50%);
        visibility: hidden;
        opacity: 0;
        pointer-events: none;
        transition: visibility 0.1s linear 2s, opacity 2s linear;
        z-index: -1;
        &.s3d-show{
          visibility: visible;
          opacity: 1;
          transition: visibility 0.1s linear 0s, opacity 2s linear;
        }
      }
      &-icon{
        position: relative;
        width: initial;
        height: 16px;
        margin-left: 10px;
      }
      &-amount{
        pointer-events: none;
        &:before{
          content: "";
          display: inline-block;
          height: 10px;
          width: 2px;
          margin: 0 20px;
          background: $color2;
        }
      }
      svg{
        height: 13px;
        width: 15px;
        fill: $color1;
        transition: transform 0.4s ease-in-out;
      }
    }
    &[data-type="flat"], &[data-type="favourites"], &[data-type="plannings"] {
      .s3d-ctr__favourites-bg {
        visibility: hidden!important;
      }
    }
  }
}
